[submodule "account"]
	path = account
	url = https://dev.azure.com/dzinnersoft/dzinner/_git/account
[submodule "account-ui"]
	path = account-ui
	url = https://dev.azure.com/dzinnersoft/dzinner/_git/account-ui
[submodule "data"]
	path = data
	url = ../data
[submodule "bot"]
	path = bot
	url = https://dev.azure.com/dzinnersoft/dzinner/_git/bot
[submodule "solaris"]
	path = solaris
	url = ../solaris
[submodule "report"]
	path = report
	url = ../report
[submodule "ai"]
	path = ai
	url = https://dev.azure.com/dzinnersoft/dzinner/_git/ai
[submodule "co_bot"]
	path = co_bot
	url = ../co_bot
[submodule "web-client"]
	path = web-client
	url = ../web_client
