[submodule "chefio-customer-telegram-bot"]
 path = chefio-customer-telegram-bot
 url = https://github.com/PashaBorisyk/chefio-customer-telegram-bot

[submodule "chefio-customer-frontend"]
 path = chefio-customer-frontend
 url = https://github.com/PashaBorisyk/chefio-customer-frontend

[submodule "chefio-customer-backend"]
 path = chefio-customer-backend
 url = https://github.com/PashaBorisyk/chefio-customer-backend

[submodule "chefio-kitchen-frontend-legacy"]
 path = chefio-kitchen-frontend-legacy
 url = https://github.com/PashaBorisyk/chefio-kitchen-frontend-legacy

[submodule "chefio-kitchen-frontend"]
 path = chefio-kitchen-frontend
 url = https://github.com/PashaBorisyk/chefio-kitchen-frontend

[submodule "chefio-kitchen-backend"]
 path = chefio-kitchen-backend
 url = https://github.com/PashaBorisyk/chefio-kitchen-backend

[submodule "chefio-kitchen-mobile-app-backend"]
 path = chefio-kitchen-mobile-app-backend
 url = https://github.com/PashaBorisyk/chefio-kitchen-mobile-app-backend

[submodule "chefio-kitchen-mobile-app-frontend"]
 path = chefio-kitchen-mobile-app-frontend
 url = https://github.com/PashaBorisyk/chefio-kitchen-mobile-app-frontend

[submodule "chefio-support-telegram-bot"]
 path = chefio-support-telegram-bot
 url = https://github.com/PashaBorisyk/chefio-support-telegram-bot

[submodule "chefio-data"]
 path = chefio-data
 url = https://github.com/PashaBorisyk/chefio-data

[submodule "chefio-ai-utils"]
 path = chefio-ai-utils
 url = https://github.com/PashaBorisyk/chefio-ai-utils

[submodule "chefio-report-utils"]
 path = chefio-report-utils
 url = https://github.com/PashaBorisyk/chefio-report-utils